@import "tailwindcss";
/*body {
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#everywhere {
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
    */
#everywhere {
    opacity: 70%;
	@apply px-2;
}
table.sidukoTable {
	max-width: 480px;
	max-height: 480px;
	margin-top: 30px;
}

.sidukoTable table {
    @apply border-white;
    @apply border-10;
    @apply bg-slate-800;
	min-width: 120px;
	min-height: 120px;
	opacity: 70%;
}

.sidukoTable .cell {
    @apply border-2;
    @apply align-middle;
	animation: color_change 2s infinite alternate;
}

@keyframes message_wobble {
	from { rotate: 2deg; }
	to { rotate: -2deg;}
}


@keyframes color_change {
	from { background-color: rgb(68, 68, 106); }
	to { background-color: rgb(111, 142, 210); }
}

.sidukoTable table td {
    @apply w-10;
    @apply h-10;
    @apply text-center;
    @apply text-slate-800;
    @apply text-2xl;
}

.sidukoTable table td:hover {
    @apply bg-sky-300;
}

.sidukoTable table td:focus {
    @apply bg-yellow-200;
}

.sidukoTable table td.solved {
    @apply font-bold;
    @apply bg-sky-200;
}

.sidukoTable table td.entered {
    @apply font-light;
    @apply bg-indigo-800;
    @apply text-white;
}

.sidukoTable table td.fixedval {
    @apply font-bold;
    @apply text-red-700;
    @apply bg-red-300;
}

.sidukoTable table td.suggested {
    @apply font-light;
    @apply text-blue-950;
    @apply bg-green-200;
}

.sidukoTable table td.aided {
    @apply font-light;
    @apply  text-gray-800;
    @apply bg-gray-100;
}

#rightPanel {
    width: 400px;
    height: 620px;
    background-color: black;
    margin-top:24px;
	margin-left:2px;
    color: green;
    opacity: 0.6;
    border: 6px lightblue solid;
    border-radius: 20px;
    overflow-y: scroll;
}

#messageList {
	width: 100%;
	height: 84%;
	text-align: center;
}

#playerStatus {
    border-radius: 30px;
    height: 10%;
    background-color: white;
    border: 5px solid #238f28;
    margin: 16px;
    text-align: center;
}

#playerStatus h4 {
	color: darkslategrey;
	font-weight: 500;
	clear: left;
	display: inline;	
}

#playerStatus div {
	clear: right;
	display: inline;	
	color:darkblue;
	font-weight: 600;
}


#leftPanel {
    width: 400px;
    height: 620px;	
    background-color: rgb(77, 10, 10);
    margin-top: 24px;
	margin-right: 2px;
    color: rgb(221, 232, 232);
    opacity: 0.6;
    border: 6px rgb(154, 175, 183) solid;
    border-radius: 20px;	
	user-select: none;
}

#leftPanel>div {
	flex-direction: column;
    justify-content: space-between;
}

.fillVert {
    height : 100%;
    margin: 4px;
    padding: 4px;
}

@keyframes fadeLogMessage   {
    from {
        color: lightgreen;                
    }
    to {
        color: black;        
    }
    
}
.rightPanelLogMessage {
    animation-name: fadeLogMessage;
    animation-duration: 5s;
}

#rightPanel ul {
	font-size: 1.3em;
	color: #02f702;
}

#rightPanel ul li.redError {
    color: red;
    font-style: italic;
    font-weight: 600;
	font-size:1.2em;
}

#rightPanel ul li.row_filled {
	font-size: 1.2em;
	color: bisque;
	font-family: Georgia;
	font-weight: 600;
	animation: message_wobble 1s infinite alternate;
}

#rightPanel ul li.column_filled {
	font-size: 1.2em;
	font-family: Times;
	color: yellow;
	font-weight: 600;
	animation: message_wobble 1s infinite alternate;
}

#rightPanel ul li.inner_table_filled {
	font-size: 1em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: goldenrod;
	font-weight: 600;
	animation: message_wobble 1s infinite alternate;
}

#rightPanel ul li.board_filled {
	font-size: 1.1em;
	font-family: Impact;
	color: white;
	font-weight: 800;
	animation: message_wobble 1s infinite alternate;
}

#rightPanel ul li.randomChoiceStatus {
	font-size: 1em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
	font-weight: 500;
	text-align: center;
}

#rightPanel ul li.completion_bonus {
    color: white;
	font-size: 1.4em;
    background-color: black;
}

#rightPanel  hr {
	border: 1px solid lightgreen;

}
#bonusButton:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.progressBarContainer {
	margin: 8px;
	height: 3em;
	width: calc(100%-16px);
	background-color: white;
	border: 2px solid blue;
}

.progressBarProgress {
	height: 1em;
	width: 30%;
	background-color:rgba(223, 8, 58, 0.349);
}


#playerBoostsTableBody .exhausted {
	color: red;
	font-weight: 600;
	background-color: burlywood;
}

#playerBoostsTableBody tr {
	padding-top:4x;
	margin:4px;
	border: 1px solid blue;
}

.useBoostButton {
	border: 2px solid #5a00ff;
    border-radius: 8px;
    background-color: #c1e4ea;
    font-size: 1em;
    padding: 0 8px;
    color: red;
}


#playerBoostsTableBody tr.forSale .buyBoostButton {
	border: 2px solid yellow;
    border-radius: 8px;
    background-color: blue;
    font-size: 1em;
	padding: 0 8px;
	display: block;
}

.#playerBoostsTableBody tr .buyBoostButton {
	display: none;
}



#progressBarTextOverlay {
	width:100%;
	text-align: center;
	margin-top: -1.2em;
	font-size: 1.8em;
}
@keyframes puzzlesolvedCells {
    from {
        transform: rotate(0deg);
        height: 600px;
        width: 600px;
        border: 10px solid black;
        border-radius: 300px;        
    }

    to {
        transform: rotate(720deg);
        height: 40px;
        width: 40px;
        border: 1px solid red;
        border-radius: 3px;
    }
}

@keyframes puzzlesolvedTable {
    from {
        transform: rotate(0deg);    
    }

    to {
        transform: rotate(-720deg);
    }
}


.sidukoTable.solved table td {
    animation-name: puzzlesolvedCells;
    animation-duration: 2s;
}

@keyframes puzzleGrantedCells {
    from {
        border: 8px solid red;    
		padding: -8px;  
        background-color: chartreuse;  
    }
    to {
        border: 1px solid white;
		padding: 0px;
        background-color: cornsilk;
    }
}

.sidukoTable table td.aided.granted {
    animation-name: puzzleGrantedCells;
    animation-duration: 1.3s;
}

.sidukoTable table td.player_solved {
    color: #4e54c8;
    background-color: aliceblue;
}



.btn {
    @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
    @apply bg-blue-500 text-white;
}
.btn-blue:hover {
    @apply bg-blue-700;
}

@keyframes fade {
	from {		
		opacity : 1;
		border-color:#02f702
	}
	to {		
		opacity: 0;
		border-color:black;
	}
}

.messageBox {
	position: relative;
	z-index: 10;
	background-color: LAVENDER;
	padding: 20px;
	border: 6px double red;
	border-radius: 8px;
	font-size: 1.75em;
	display: none;
}

.messageBox.initial {
	animation-name: fade;
	animation-duration: 2s;
	display: block;
}

@keyframes fundBoost {
	from {
		font-size: 0.1em;
		color:white;
	}
	to {
		font-size: 2em;
		color: red;
	}
}

#playerFunds.fund-boost {
	animation-name: fundBoost;
    animation-duration: 1s;
}

.boostBoostButton {
    background-color: darkcyan;
    border: 3px solid yellow;
    border-radius: 6px;
    padding: 0px 8px;
	color: floralwhite;
}


.buyBoostButton {
	background-color: white;
	border: 1px solid black;
	color: black;
	padding: 0px 10px;
	border-radius: 10px;
}

@keyframes fundReduce {
	from {
		font-size: 2em;
		color:green;
	}
	to {
		font-size: 0.1;
		color: red;
	}
}


#playerFunds.fund-reduce {
	animation-name: fundReduce;
    animation-duration: 1s;
}


@keyframes shake {
	from {
		rotate: 0.3deg;
		opacity: 1;
		background-color: cornsilk;
		border:1px solid green;
		border-radius: 1%;
	}
	to {
		rotate: -0.3deg;
		opacity: 0.75;
		background-color: aqua;
		border: 1px solid yellow;
		border-radius: 10px;
	}
}

div#playerStatus {
    animation: shake 0.8s ease-in-out infinite alternate;
}

@keyframes wobble {
	from {
		rotate: -1deg;
	}
	to {
		rotate: 1deg;
	}
}

#leftPanel {
	animation:wobble 5s ease-in-out infinite alternate;
}

#leftPanel thead {
	font-size: small;
    font-family: monospace;
    font-weight: 700;
}

#leftPanel tbody {	
    font-family: math;    
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/*Start Animations*/
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}
.hidden {
    display: none
}
/*End Animations*/
/*
-- Start BackGround Animation 
*/
.area {
	background: #4e54c8;
	background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: -1;
}

.circles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 96%;
	overflow: hidden;
}

.circles li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 25s linear infinite;
	bottom: -150px;
}

.circles li:nth-child(1) {
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}

.circles li:nth-child(2) {
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 2s;
	animation-duration: 12s;
}

.circles li:nth-child(3) {
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 4s;
}

.circles li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 18s;
}

.circles li:nth-child(5) {
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
}

.circles li:nth-child(6) {
	left: 75%;
	width: 110px;
	height: 110px;
	animation-delay: 3s;
}

.circles li:nth-child(7) {
	left: 35%;
	width: 150px;
	height: 150px;
	animation-delay: 7s;
}

.circles li:nth-child(8) {
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 15s;
	animation-duration: 45s;
}

.circles li:nth-child(9) {
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 2s;
	animation-duration: 35s;
}

.circles li:nth-child(10) {
	left: 85%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 11s;
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}

	100% {
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}
}